@import url('https://fonts.cdnfonts.com/css/assassin');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Philosopher&display=swap');

body {
    background-color: #000;
    overflow: hidden;
}

main::after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background:linear-gradient(-233deg, #300505 25%, rgba(0, 0, 0, 0.507) 65%) no-repeat;
    min-height: 100vh;
    width: 100vw;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Permite que a imagem inteira apareça, sem deformá-la*/

}

.conteudo{
    position: absolute;
    top: 25vh;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 60vh;
    max-width: 40vw;
    padding: 15px;
    z-index: 1;
}

.conteudo .nome-personagem{
    color: white;
    font-size: 48px;
    font-family: 'Assassin$', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}

.conteudo .descricao{
    font-family: 'Nunito', sans-serif;
    width: 560px;
    color: azure;
    font-size: 18px;
    line-height: 24px;
}

.conteudo .logo{
    background-image: url("../img/logo.png");
    left: 30px;
    bottom: 60px;
    /* scale: .5; */
    background-size: cover;
    margin-bottom: 30px;
    height: 128px;
    width: 128px;
}

.botoes{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 140px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #2525257e;
}


.botoes .botao{

    border: none;
    background: none;
    cursor: pointer;
    transition-duration: .5s;
    border-radius: 50%;
    padding: 5px;
    scale: .7;
}

.botao:hover {
    background-color: #000;
    transform: scale(1.22);

}


/* .botoes .botao img{ */
    /* border-radius: 50px; */
/* } */
.botoes .botao.selecionado{
    transform: scale(1.4);
    background-color: #0000009a;
    margin-right: 100px;
}
/* https://www.youtube.com/watch?v=5JAgS97Q8jU */
